<a href="https://colab.research.google.com/github/Anpr1211/R-and-Python-Gigs/blob/master/Data_Scraping_using_URL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# importing libraries

import requests as req
from bs4 import BeautifulSoup

import pandas as pd

Requests allows you to send HTTP/1.1 requests extremely easily.

Beautiful Soup is a library that makes it easy to scrape information from web pages. It sits atop an HTML or XML parser, providing Pythonic idioms for iterating, searching, and modifying the parse tree.

In [0]:
url = "https://news.google.com/covid19/map?hl=en-IN&gl=IN&ceid=IN:en"

req.get(url) will ping a website and return you HTML of the website.

In [0]:
r = req.get(url)

Prettify() function in BeautifulSoup will enable us to view how the tags are nested in the document.

In [0]:
soup = BeautifulSoup(r.text, 'html.parser')
print(soup.prettify())

In [0]:
data = soup.find_all('td')
data

In [0]:
len(data)

205

In [0]:
for i in data:
  print(i.text)

Now that we have the data, we need to build a dataframe.

In [0]:
df = pd.DataFrame(columns=['Location', 'Confirmed', 'Cases per 1 million', 'Recovered', 'Deaths'])

In [0]:
df

Empty DataFrame
Columns: [Location, Confirmed, Cases per 1 million, Recovered, Deaths]
Index: []

In [0]:
df.columns

Index(['Location', 'Confirmed', 'Cases per 1 million', 'Recovered', 'Deaths'], dtype='object')

In [0]:
for i in range(0, len(data), 5):

  d_ = {'Location':data[i].text,
        'Confirmed':data[i+1].text,
        'Cases per 1 million':data[i+2].text,
        'Recovered':data[i+3].text,
        'Deaths':data[i+4].text}

  df = df.append(d_, ignore_index=True)

In [0]:
df.head()

In [0]:
# saving the dataset

df.to_csv("Data.csv")